* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 1rem;
}

.question-container{
    display:flex;
    gap: 1rem;
}

[data-hidden="true"] {
    display: none;
}

[data-hidden="false"] {
    display: flex;
}

#result-field[data-result="Correct"] {
    color: green;
}

#result-field[data-result="Incorrect"] {
    color: red;
}
