* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  background-color: #2e2e2e;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
}

h1 {
  position: sticky;
}
