@import "./common.css";

:root {
    --card-radius: 4px;
    --max-view-width: 80vw;
}

header {
    display: flex;
    justify-content: center;
    margin-block: 2rem;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: var(--max-view-width);
    margin-inline: auto;
    gap: .5rem;
}

.flower-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-cool-grey);
    border-radius: var(--card-radius);
    overflow: hidden;
    align-self: end;
}

.flower-card img {
    object-fit: cover;
    width: 100%;
}

.flower-card-info {
    padding: .5rem 1rem;
}

.flower-card-info h1 {
    font-size: 1.0125rem;
}

.flower-card-info p {
    font-size: 0.875rem;
}

summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-cool-grey);
    border-radius: var(--card-radius);
    padding: .5rem;
}

summary h1 {
    font-size: 1rem;
}

summary .flower-card-info {
    background-color: var(--color-prussian);
}

.order-controls {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--color-cool-grey);
    max-width: var(--max-view-width);
    margin: 2rem auto;
    padding: 1rem;
    border-radius: var(--card-radius);
}

#anchor {
    height: 100vh;
}